body {
    font-family: 'Roboto';
    font-size: 16px;
    background-color: #a5cbf2;
    height: 100vh;
    max-height: 95vh;
    overflow-y: hidden;
   
}
.flex-container {
  background-color: #fefefe;
  width: 80vw;
  padding: 20px;
  margin: 10vh auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-image: url(../imgs/animation.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav {
  font-weight: bold;
}
.nav a {
  float: left;
  color: #455667;
  padding: 14px 16px;
  font-size: 16px;
  display: flex;
}
.nav a:hover {
  background-color: #ddd;
  color: black;
}
  .nav-right {
  float: right;
}
p{
  padding: 5px;
  color:  #a5cbf2;
  font-weight: bold;
}
.nav{
  display: flex;
  justify-content: space-between;
}
h2{
   color: #06233c;
   font-weight: 900;
   font-size: 2vw;
}
h6{
  color: #c1c1c1;
}
button {
  border-radius: 20px;
  background-color: #204b7f;
  color: white;
  height: 35px;
  width: 120px;
  border:none;
}
section {
  /* justify-content: flex-start; */
  /* align-self: center; */
  vertical-align: center;
  flex: 1;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
